<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="header" th:fragment="bodyHeader">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-2">
                <a class="logo" href="/">탈출이</a>
            </div>
            <div class="col-10 text-end">
                <button type="button" class="btn btn-dark" id="btn-login">로그인</button>
                <button type="button" class="btn btn-dark" id="btn-signup">회원가입</button>
            </div>
        </div>
    </div>
</div>